<link href="css/pages/faq.css" rel="stylesheet"> 	
	<div class="row">
	    	<!--<div class="span12">
			<div class="widget widget-plain">
				<div class="widget-content">
					<a href="javascript:;" class="btn btn-large btn-success btn-support-ask">Haz una Pregunta</a>	
				</div> 
		</div> /span12 -->
	</div>
	<div class="span12">
	<div class="widget">
		<div class="widget-header">
			<i class="icon-pushpin"></i>
			<h3>GUÍA DE USO - escolaresPI</h3>
		</div> <!-- /widget-header -->
		<div class="widget-content">
			<br/>
			<ol id="listaguia">
				<li>
					<h4>¿Cómo añadir un nuevo alumno?</h4>
					<p>Debe de ir a la pestaña "Alta Espera", dentro de ese módulo en la parte izquierda estará la lista de los documentos 
					que el nuevo estudiante debe de presentar. Los marcará dando click, una vez que los 8 documentos se hayan completado se
					habilitaran las casillas que estan en su lado derecho, donde se anora: Ficha del Alumno, Nombre, Apellidos y carrera.
					</p>
				</li>
				<li>
					<h4>¿Dónde estan los alumnos ya registrados?</h4>
					<p>Los alumnos que hayan cumplido con la entrega de documentos sin faltantes, se registraran en la pestaña "Lista de Espera"
					ahi podrá ver a todos los alumnos que se registraron en el día y el estado de su turno.
					</p>
				</li>
				<li>
					<h4>¿Qué son Estado de Turno y cuántos hay?</h4>
					<p>Existen 3 tipos de estados: En Espera, Atendido, No se presento; estos estados nos indícan si el alumno esta siendo atendido por
					algun personal de servicios escolares y cuantos hay en espera y quieres fueron aquellos alumnos que no se presentaron.
					</p>
				</li>
				<li>
					<h4>¿Puedo buscar a un alumno registrado?</h4>
					<p>¡Claro! para eso tenemos el módulo de "Buscar Alumno", dentro de la pestaña alumnos encontraras esta función.
					Necesitas solo ingresar la ficha perteneciente al alumno y dar click en buscar.
					</p>
				</li>
				<li>
					<h4>Estadísticas</h4>
					<p>Este módulo nos ayudará a saber cuantos alumnos de nuevo ingreso tuvimos, cuantos alumnos de cada carrera ingresaron, 
					y así tener un promedio de la cantidad de alumnos que ingresan a la Institución.
					</p>
				</li>
			</ol>
		</div> <!-- /widget-content -->
	</div> <!-- /widget -->	
    </div> <!-- /spa12 -->	
    </div> <!-- /row -->